html,
body,
main {
    height: 100%;
    width: 100%;
}

.navbar {
    background-image: linear-gradient(to bottom, #000000, #9d0000);
}

.navbar-nav {
    display: flex;
    justify-content: end;
}

.nav-item {
    font-size: large;
    font-weight: bolder;
    margin-left: 25px;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ff9900;
}

.link-log {
    padding: 6px;
    background-color: #494646;
    border-radius: 25px;
    border: solid 3px white;
    font-weight: bold;
    color: white;
}

.link-log:hover {
    background-color: green;
    border-color: #1df81d;
    color: #ffffff;
}

.body-sesion {
    width: 100%;
    height: 100%;
    background-image: url(/images/1154.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.inicio-sesion {
    margin: 15px;
    background-image: linear-gradient(to bottom, #000000, #9d0000, #000000);
    border-radius: 25px;
    color: white;
    width: 30%;
    height: 60%;
}

.main-sesion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    height: 100%;
    align-content: center;
    row-gap: 10px;

}

.form-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.form-inicioses {
    font-size: 1.2rem;
}

.olv-contra {
    color: blue;
}

.olv-contra:hover {
    text-decoration: underline;
}

input {
    width: 80%;
}

.main-registro {
    display: flex;
    flex-direction: row;
}

.registro {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 15%;
    background-image: linear-gradient(to left, #000000, #9d0000, #000000);
    border-radius: 25px 0px 0px 25px;
    color: white;
    width: 50%;
    height: 80%;
}

.form-registro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
}

.regis-h2 {
    font-size: 3rem;
}

.regis-labl {
    font-size: 1.2rem;
}

.regis-btn {
    padding: 6px;
    background-color: #494646;
    border-radius: 25px;
    border: solid 3px white;
    width: 25%;
    margin: 20px;
    font-weight: bold;
    color: white;
}

.regis-btn:hover {
    background-color: green;
    border-color: #1df81d;
    color: #ffffff;
    
}

.img-registro {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    color: white;
    height: 80%;
}

.seccion1 {
    background-image: url("https://www.shutterstock.com/image-photo/friends-choosing-movie-watch-together-600nw-2179958927.jpg");
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0px;
    align-content: center;
}

.titulo-h1 {
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub-h2 {
    display: flex;
    vertical-align: middle;
    color: white;
    display: flex;
    justify-content: center;

}

.btn-registrarse {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border: solid 3px white;
    background-color: #494646;
    width: 25%;
    left: 37%;
    position: relative;
    font-size: 1.3rem;
    text-decoration: none;
}

.btn-registrarse:hover {
    background-color: green;
    border-color: #1df81d;
    color: #ffffff;
}

.seccion2 {
    height: 200px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secion3 {
    width: 100%;
}

h3 {
    font-size: 2em;
}

.titulo-seccion {
    font-size: 3em;
}

.inputBuscador {
    margin: 10px;
    width: 600px;
    border-radius: 20px;
    font-size: 1.5em;
}

.btn-buscador {
    background-color: #9d0000;
    border-radius: 25px;
    position: relative;
    bottom: 5px;
}

.seccion3 {
    margin-top: 200px;
}

.titulo-seccion3 {
    background-image: linear-gradient(to bottom, #9d0000, #000000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 25px;

}

.body-tend {
    background-color: #000000;
}

.titulo-tend {
    background-image: linear-gradient(to bottom, #921010, #000000);
    color: white;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 20px 20px 0px 0px;
}

.pelis {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-left: 5%;

}

.pelis-tend {
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-image: linear-gradient(to bottom, #000000, #9d0000, #000000);
}

.peliculas {
    width: 100%;
    height: auto;

}

.peliculas {
    display: flex;
    justify-content: center;



    .pelicula {
        width: 80%;
        position: relative;
        border-radius: 10px;
        transition: all 0.5s ease;

        .imgTendencia {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .tituloPelicula {
            z-index: 2;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            max-width: 20rem;
            width: 100%;
            transform: translateY(-50%) translateX(-50%);

            h4 {
                font-size: 1.6rem;
                font-weight: bold;
                opacity: 0;
                margin-bottom: 0.5rem;
                letter-spacing: 0.1rem;
                transition: opacity 0.5s ease-in-out;

            }
        }

        &:hover {
            box-shadow: 0 0 30px #ffffffcd;
            transform: scale(0.9);
            border-radius: 20px;

        }

        &:hover .tituloPelicula {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(20px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }

        &:hover h4 {
            width: 100%;
            padding: 0.5rem;
            opacity: 1;
        }

    }
}

a {
    color: white;
    text-decoration: none;
}




.secc-sig-ant {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.bnt-sig-ant {
    background-color: #494646;
    color: white;
    margin: 50px;
    font-size: 2rem;
    border-radius: 15px;
    border: solid 3px #494646;
}

.bnt-sig-ant:hover {
    border: solid 3px rgb(248, 62, 62);

}

footer {
    background-image: linear-gradient(to bottom, #000000, #9d0000);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    font-size: large;
}

.copyright {
    color: white;
    font-size: 1rem;
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  