

html, body, main {
    height: 100%;
    width: 100%;
}

header {
}

.navbar{
    background-color: #9d0000;
}

.navbar-nav {
    display:flex;
    justify-content: end;
}

.nav-item {
    color: grey;
    font-size: large;
    font-weight: bold;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.link-log {
    padding: 6px;
    background-color:  #dc3545;
    border-radius: 25px;
    border:solid 2px white;
}

.seccion1 {
    background-image: url("https://www.shutterstock.com/image-photo/friends-choosing-movie-watch-together-600nw-2179958927.jpg");
    width: 100%; 
    height: 600px; 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 0px;
    align-content: center;
}

.titulo-h1{
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sub-h2{
    display: flex;
    vertical-align: middle;
    color: white;
    display: flex;
    justify-content: center;

}

.btn-registrarse {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border:solid 2px white;
    background-color: grey;
    width: 25%;
    left: 37%;
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;


}

.seccion2{
    height: 200px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secion3 {
    width: 100%;
}

h3 {
    font-size: 2.5em;
    margin: 0px;
}

.inputBuscador {
    margin: 10px;
    width: 400px;
    border-radius: 20px;
    font-size: 1.5em;
}

.btn-buscador{
    background-color: #9d0000;
    border-radius: 25px;
    position: relative;
    bottom: 5px;
}

.titulo-seccion3{
    background-color: #9d0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.pelis {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cada fila tendrá 4 columnas de igual tamaño */
    grid-gap: 10px;
    padding: 25px;
    background-color: black;
}

.peliculas{
    width: 100%;
    height: auto;
}

.imgTendencia{
    width: 80%;
    border-radius: 20px;
}

.tituloPelicula {
    width: 70%;
}

h4 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

.secc-sig-ant{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.bnt-sig-ant {
    background-color: #9d0000;
    color: white;
    margin: 10px;
    font-size: 1.5rem;
    border-radius: 15px;
}

footer { 
    background-color: #9d0000;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    font-size: large;
  }

  .linkNav {
    color: white;
    text-decoration: none;
  }